.banner {
  display: flex;
  justify-content: center;
}

.heading-container {
  width: 100%;
  height: 110px;
  background-color: #f5f4f0;
  position: relative;
}

.heading-container > h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #05386b;
  position: absolute;
  top: 30%;
  left: 15%;
}

.about-us {
  background-color: #05368b;
}

.about-us-testimonial {
  color: #fff;
  display: flex;
  justify-content: left;
}

.what-you-will-learn {
  background-color: #f5f4f0;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 375px;
  width: 495px;
  margin-left: 7rem;
  line-height: 2.5rem;
}

#enroll-now-btn {
  position: relative;
  top: 300px;
  width: 30%;
}

.allproduct-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.product-img {
  height: 200px;
  width: 300px;
}

.product-container {
  margin: 20px;
}

/* MEDIA QUERY STARTS */

@media only screen and (max-device-width: 480px) {
  .allproduct-container {
    display: flex;
    flex-direction: column;
  }

  .checkout {
    display: flex !important;
    flex-direction: column !important;
    background-color: violet;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .product-brochure {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    margin-bottom: 500px;
    height: 700px !important;

    width: 100% !important;
  }

  #enroll-product {
    margin-top: 20px !important;
    width: 200px;
  }

  .single-product-img {
    padding: 40px 40px 40px 40px !important;
    object-fit: contain !important;
  }

  .checkout > .product-brochure > .product-details {
    /* display: flex;
    flex-direction: column;
    align-items: center !important; */
    /* justify-content: center !important; */
    background-color: RED !important;
    text-align: center;
  }
}

/* MEDIA QUERY ENDS */

.product-brochure {
  display: flex;
  height: 400px;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid black;
}

.single-product-img {
  height: 300px;
  width: 500px;
}

.product-details {
  margin-right: 300px;
  margin-left: 50px;
}

#enroll-product {
  margin-top: 80px;
  width: 200px;
}
