.banner {
  display: flex;
  justify-content: center;
}

.heading-container {
  color: #05368B;
  background-color: #f5f4f0;
  text-align: center;
  padding: 40px 0;


}



.about-us {
  background-color: #05368b;
}

.about-us-testimonial {
  color: #fff;
  display: flex;
  justify-content: left;
}

#enroll-now-btn {
  position: relative;
  top: 300px;
  width: 30%;
}

.allproduct-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.product-img {
  height: 200px;
  width: 300px;
}

.product-container {
  margin: 20px;
}

/* MEDIA QUERY STARTS */

@media only screen and (max-device-width: 480px) {
  .allproduct-container {
    display: flex;
    flex-direction: column;
  }

  .abc-body {
    display: flex !;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .checkout {
    display: flex !important;
    flex-direction: column !important;

    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .product-brochure {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 70px;
    background-color: lightgoldenrodyellow;

    height: 700px !important;
    width: 100% !important;
  }

  #enroll-product {
    margin-top: 20px !important;
    width: 200px;
  }

  #single-product-img {
    height: 239.672px;
    width: 380px;
  }

  #product-details {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 380px !important;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .product-brochure>.product-details {
    /* display: flex;
    flex-direction: column;
    align-items: center !important; */
    /* justify-content: center !important; */
    width: 100%;
    margin-left: 300px;
    text-align: center;
  }

  .what-you-will-learn {
    padding: 0 20px !important;
  }

  .product-description {
    padding: 0 20px !important;
  }


  /* //all courses page media query */
  .allproduct-container-allcourses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px !important;
    margin-right: 0 !important;
  }

  .heading-container {
    width: 100% !important;
    color: blue;
    padding-left: 0 !important;
  }

  .product-container-allcourses {
    text-align: center;
  }




}

/* MEDIA QUERY ENDS */

.product-brochure {
  display: flex;
  height: 400px;
  flex-direction: row-reverse;
  align-items: center;

  padding: 0 140px;
}

.single-product-img {
  height: 300px;
  width: 500px;
}

.product-details {
  height: 290px;
  width: 665px;
  margin-right: 300px;
  background-color: lightgreen;
}

#enroll-product {
  margin-top: 80px;
  width: 200px;
}

/* old */
/* .what-you-will-learn {
  
  padding: 20px;
  
  margin-top: 50px;
  margin-bottom: 50px;
  height: 375px;
  width: 495px;
  margin-left: 7rem;
  line-height: 2.5rem;
} */

.what-you-will-learn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 140px;
  background-color: #f5f4f0;
  border-radius: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

.product-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 140px;
  margin-left: 0;
  background-color: #f5f4f0;
  border-radius: 20px;
  line-height: 32px;
}

.allproduct-container-allcourses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 80px;
}

.product-container-allcourses {
  margin: 0 20px;
  padding: 0 20px;
  width: 350px;
  height: 400px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  background-color: #fffef7;

}

.main-nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 20px;
 
  }

.main-nav-tab {
  padding: 20px 20px;
  list-style-type: none;
 text-decoration: none !important;
 cursor: pointer;
 background-color: #fffef7;
 color: black;
}

.nav-logo{
   width: 140px;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
}